<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>丑散,开启你的新生活</title>
    <link rel="stylesheet" href="../src/css/index.css">
</head>

<body>
    <div class="any">
        <div class="navbar">
            <div class="left">
                <a href="">杭州</a>
                <a href="/signin">登录</a>
                <a href="/signup">注册</a>
                <div class="dropdown">
                    <a href="">切换城市</a>
                    <ul>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="dropdown">
                    <a href="">我的美团 </a>
                    <ul>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="">我的美团 </a>
                    <ul>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="">我的美团 </a>
                    <ul>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="">我的美团 </a>
                    <ul>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                        <li>我的订单</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navsearch">
            <div class="logo">
                <img src="./src/img/logo.png" alt="美团">
            </div>
            <div class="search_bar">
                <div class="main_bar">
                    <span class="search_title">团购</span>
                    <input type="text" class="search_area" name="types" placeholder="请输入商品名称">
                    <button class="search_btn">搜索</button>
                </div>
                <div class="sup_text">
                    <a href="">自助餐</a>
                    <a href="">电影票</a>
                    <a href="">火锅</a>
                    <a href="">甜点/饮品</a>
                    <a href="">特色小吃</a>
                    <a href="">美发</a>
                    <a href="">KTY</a>
                </div>
            </div>
            <div class="servies">
                <img src="./src/img/618.png" alt="" width="180  " height="80">
            </div>  
        </div>
        <div class="main">
            <div class="nav">
                <ul>
                    <li><a href="/food">美食</a></li>
                    <li><a href="/takeway">外卖</a></li>
                    <li><a href="/attraction">景点</a></li>
                    <li><a href="/show">演出</a></li>
                </ul>
            </div>
            <div class="nav_area">
                <span>西安丑散</span>
            </div>
            <div class="main_body">
                <div class="content1">
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                </div>
                <div class="content">
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                    <div class="items">
                        <img src="./src/img/test.jpg" alt="test" width="300">
                        <div class="name_text">
                            <span>【切嗣的正妻呀】 爱丽斯菲尔</span>
                        </div>
                        <div class="hot_commit">
                            <span>已有23333人评价</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>

</html>