<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>丑散,开启你的新生活</title>
    <link rel="stylesheet" href="../src/css/index.css">
</head>

<body>
    <div class="any">
        <div class="navbar">
            <!-- <div class="left">
                <a href="">杭州</a>
                <a href="/signin">登录</a>
                <a href="/signup">注册</a>
                <div class="dropdown">
                    <a href="">切换城市</a>
                    <ul>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                        <li>北京</li>
                    </ul>
                </div>
            </div> -->
            <div class="right">
                <div class="dropdown">
                    <a href="./signin_manage.html">切换到管理员</a>
                </div>
            </div>
        </div>
        <div class="navsearch">
            <div class="logo">
                <img src="../src/img/logo.png" alt="美团">
            </div>
            <div class="search_bar">
                <form class="main_bar">
                    <span class="search_title">团购</span>
                    <input type="text" class="search_area" name="types" placeholder="请输入商品名称">
                    <button type="submit" class="search_btn">搜索</button>
                </form>
                <div class="sup_text">
                    <a href="./buffet.html">自助餐</a>
                    <a href="./movie.html">电影票</a>
                    <a href="./hotpot.html">火锅</a>
                    <a href="./drink.html">甜点/饮品</a>
                    <a href="./snack.html">特色小吃</a>
                    <a href="./hairdressing.html">美发</a>
                    <a href="./ktv.html">KTV</a>
                </div>
            </div>
            <div class="servies">
                <img src="../src/img/618.png" alt="" width="180  " height="80">
            </div>
        </div>
        <div class="main">
            <div class="nav">
                <ul>
                    <li><a href="./food.html">美食</a></li>
                    <li><a href="./takeaway.html">外卖</a></li>
                    <li><a href="./attraction.html">景点</a></li>
                    <li><a href="./show.html">演出</a></li>
                </ul>
            </div>
            <!-- <div class="nav_area">
                <p><span>City</span>丑散</p>
            </div> -->
            <div class="main_body">
                <div class="content1">
                    <div class="items">
                        <img src="../src/img/food/1.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">三文鱼</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/2.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">蛏子美食</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/3.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">萌蛋炒饭</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/4.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">湘西美食</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/5.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">西餐披萨</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>

                </div>
                <div class="content2">
                    <div class="items">
                        <img src="../src/img/food/6.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">三文鱼</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/7.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">蛏子美食</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/8.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">萌蛋炒饭</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/9.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">湘西美食</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>
                    <div class="items">
                        <img src="../src/img/food/10.png" alt="test" width="300">
                        <form action="">
                            <fieldset>
                                <p class="foodname">西餐披萨</p>
                                <p class="commitnum">已有<span>评论数量</span>人评价</p>
                            </fieldset>
                        </form>

                    </div>

                </div>

            </div>
        </div>
        <div class="footer">
            <p class="copyright">&copy;2019眯眯眼小控合作社&nbsp;京ICP证070791号 京公网安备11010502025545号 电子公告服务规则</p>
            <p class="copyright"> 版权所有,侵权必究 </p>
        </div>
    </div>
</body>

</html>