<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/index.css">
    <link rel="stylesheet" href="../src/css/all_index.css">
    <link rel="stylesheet" href="../src/css/manage.css">
</head>

<body>
    <div class="wrap">
        <div class="slidebar">
            <p>相关功能</p>
            <ul>
                <li><a href="./add.html">增</a></li>
                <li><a href="./delete.html">删</a></li>
                <li><a href="./update.html">改</a></li>
                <li><a href="./list.html">查</a></li>
            </ul>
        </div>
        <div class="inner">
            <form action="">
                <fieldset>
                    <legend>丑散已注册商家列表</legend>
                    <table>
                        <tr>
                            <td>姓名</td>
                            <td>电话</td>
                            <td>地址</td>
                            <td>价格</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                        <tr>
                            <td>Nothing</td>
                            <td>17692129741</td>
                            <td>Xi'an</td>
                            <td>9,999</td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

</body>

</html>