.wrap {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  position: relative;
}
.wrap .bg {
  height: 100%;
  width: 100%;
  background-image: url(../img/bg_1.jpg);
  filter: blur(10px);
}
.wrap .inner {
  filter: blur(0);
  height: 50%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.wrap .inner div {
  height: 40%;
  width: 60%;
  text-align: center;
  position: relative;
}
.wrap .inner div a {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap .inner div a button {
  font-size: 30px;
  background-color: skyblue;
  display: inline-block;
  width: 50%;
  height: 20%;
}
